@import '../../_Variables'

.cart-radio
  margin-bottom: 20px
  display: block
  width: 120px
  height: 100px
  //background-image: url("../../assets/img/Aside/square.svg"), url("../../assets/img/Aside/square.svg"), url("../../assets/img/Aside/square.svg"), url("../../assets/img/Aside/square.svg")
  //background-position: $background-position
  //background-repeat: $background-repeat

.radio
  display: none !important

.fake
  width: 100%
  height: 100%
  background-position: center
  background-repeat: no-repeat
  background-color: #13142A
  border: 1px solid transparent


.radio:checked + .fake
  border: 1px solid $border-dark

.triangle
  fill: $item-color
  stroke: white
  position: absolute
  top: -7px
  right: 50px


//====================================

.cart
  width: 412px
  background-color: $active-item
  position: absolute
  left: -390px
  top: 50px
  z-index: 10
  margin-bottom: 100px
  &-wrap
    overflow-y: scroll
    max-height: 88vh
    &::-webkit-scrollbar
      width: 0
  &-message
    width: 100%
    height: 240px
    border-top: 1px solid $border-dark
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    color: white
    font-size: 13px
    line-height: 20px
    padding: 0 45px
    background-image: url("../../assets/img/Aside/square.svg"), url("../../assets/img/Aside/square.svg")
    background-position: bottom left, bottom right
    background-repeat: no-repeat, no-repeat
  &-section
    border-top: 1px white solid
  &-form
    &-inputs
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      border-top: 1px solid $border-dark
      border-bottom: 1px solid $border-dark
      padding: 15px
    &_billing
        input
          margin-bottom: 20px
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(7),
          &:nth-child(8),
          &:nth-child(9),
          &:nth-child(10),
          &:nth-child(11),
          &:nth-child(12)
            width: 48%
            display: block
          &:nth-child(11),
          &:nth-child(12)
            margin-bottom: 0
    &_shipping
      input
        margin-bottom: 20px
        &:nth-child(4),
        &:nth-child(5)
          width: 48%
          display: block
          margin-bottom: 0
    &-radio
      width: 100%
      display: flex
      justify-content: space-between
      flex-direction: row
      flex-wrap: wrap
  &-block
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 15px
    line-height: 60px
    height: 60px
    &__buttons
      display: flex
      button
        &:first-child
          margin-right: 15px !important
    &__text
      color: white
    &__btn
      display: block
      background-color: transparent
      border: none
      background-image: url("../../assets/img/cross.svg")
      width: 12px
      height: 12px
  &-items
    border-top: 1px solid $border-dark
    border-bottom: 1px solid $border-dark
  &-item
    display: flex
    justify-content: space-between
    align-items: center
    height: 70px
    padding: 0 15px 0 15px
    &:first-child,
    &:last-child
      >*
        border: none
    &-block
      display: flex
      justify-content: space-between
      align-items: center
      width: 100%
      height: 70px
      border-top: 1px solid $border-dark
      border-bottom: 1px solid $border-dark

    &__img
      min-width: 60px
      height: 60px
      background-color: $dark-bg
      display: flex
      justify-content: center
      align-items: center
      background-image: url("../../assets/img/Aside/square.svg"), url("../../assets/img/Aside/square.svg"), url("../../assets/img/Aside/square.svg"), url("../../assets/img/Aside/square.svg")
      background-position: $background-position
      background-repeat: $background-repeat
      margin-right: 15px
      img
        max-width: 30px
        display: block
    &__info
      display: flex
      justify-content: flex-end
      align-items: flex-end
      flex-direction: column
    &__title
      color: white
      max-width: 70%
    &__count
      color: white
      font-size: 14px
      position: relative
      margin-right: 10px
      display: inline-block
      &:before
        display: block
        position: absolute
        left: -15px
        content: url("../../assets/img/Aside/arrow_up.svg")
        transform: rotate(-90deg)
      &:after
        display: block
        position: absolute
        top: 0
        right: -15px
        content: url("../../assets/img/Aside/arrow_up.svg")
        transform: rotate(90deg)
  &__price
    color: white



