@import "../../_Variables"

.menu
  overflow-y: auto
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  position: fixed
  z-index: 100
  top: 0
  bottom: 0
  right: 0
  left: 0
  background-color: rgba($dark-bg, 0.98)
  background-image: url("../../assets/img/Header/menu-bg.png")
  background-size: 90%
  background-position: 130% 10%
  background-repeat: no-repeat
  &-lang
    position: fixed
    left: 50px
    bottom: 50px
    background-image: url("../../assets/img/Header/earth.svg")
    width: 30px
    height: 30px
    background-position: center
    background-repeat: no-repeat
    //cursor: pointer
    &:hover .menu-lang__btns
      display: block
    &__btns
      display: none
      position: absolute
      top: -170px
      left: 7px
    &__btn
      font-family: exo-m, sans-serif
      color: white
      background-color: transparent
      border: none
      text-transform: uppercase
      margin-bottom: 15px
      cursor: pointer
  &-out
    display: block
    background-image: url('../../assets/img/Menu/close.svg')
    width: 15px
    height: 15px
    margin-bottom: 90px
    transition: all 0.2s ease
    &:hover
      transform: scale(1.5,1.5)
  &__link
    text-transform: uppercase
    font-size: 30px
    display: block
    text-decoration: none
    color: white
    position: relative
    line-height: 30px
    font-family: exo-m, sans-serif
    transition: all 0.2s ease
    &:hover
      transform: scale(1.1, 1.1)
    &-wrap
      margin-bottom: 90px
      position: relative
      &:after
        position: absolute
        content: url("../../assets/img/dots.svg")
        transform: translate(-50%, 0)
        bottom: -45px
        left: 50%
      &:last-child
        margin-bottom: 0
        &:after
          content: none

.lock
  overflow: hidden

@media screen and (max-height: 700px)

    .menu
      &__link
        &-wrap
          margin-bottom: 50px
          &:after
            bottom: -25px
      &-out
        margin-bottom: 50px

