@import '../../../_Variables'

.main-button
  width: 85px
  height: 30px
  display: block !important
  border: none
  background-image: url("../../../assets/img/Aside/square.svg"), url("../../../assets/img/Aside/square.svg"),
  url("../../../assets/img/Aside/square.svg"), url("../../../assets/img/Aside/square.svg")
  background-position: $background-position
  background-repeat: $background-repeat
  background-color: $dark-bg !important
  font-family: opensans-l, sans-serif
  font-size: 12px
  line-height: 30px
  color: white
  cursor: pointer

.blue-button
  background-color: $link-color !important
  width: 85px
  height: 30px
  display: block !important
  font-family: opensans-l, sans-serif
  color: #FFFFFF
  font-size: 12px
  line-height: 30px
  text-align: center
  text-decoration: none
  border: none