@import '../../_Variables'

.sale
  .section__title
    padding-left: 30px
  &-cards
    display: flex
    flex-direction: row
    flex-wrap: wrap
    transform: scaleX(-1)
    max-height: 700px
    .product-card
      margin-right: 27px
    &-wrap
      padding-right: 27px
      width: 530px
      overflow-y: auto
      transform: scaleX(-1)
      scrollbar-color: white $item-color
      scrollbar-width: 5px
      &::-webkit-scrollbar
        width: 5px
      &::-webkit-scrollbar-track
        background-color: $item-color
        width: 1px
      &::-webkit-scrollbar-thumb
        background-color: white
        width: 5px
  //margin-right: 30px
  //.section__title
  //  padding-left: 35px
  //&-cards
  //  max-width: 458px
  //  max-height: 700px
  //  display: flex
  //  flex-direction: row
  //  flex-wrap: wrap
  //  justify-content: space-between
  //  transform: scaleX(-1)
  //  &-wrap
  //    width: 490px
  //    overflow-y: auto
  //    transform: scaleX(-1)
  //    &::-webkit-scrollbar
  //      width: 5px
  //    &::-webkit-scrollbar-track
  //      background-color: $item-color
  //      width: 1px
  //    &::-webkit-scrollbar-thumb
  //      background-color: white
  //      width: 5px

@media (max-width: 1439px) and (min-width: 1024px)
  .sale
    //width: 900px
    &-cards

      &-wrap
        width: auto

@media screen and (max-width: 1023px)

  .sale
    margin: 0 auto
    .section__title
      display: none
    &-cards
      max-width: 100% !important
      max-height: unset !important
      .product-card
        margin: 0 auto
        margin-bottom: 27px
      &-wrap
        width: auto
        max-width: 100%
        overflow-y: auto
        padding: 0


//@media screen and (max-width: 768px)
//
//  .sale
//    margin: 0 auto
//    .section__title
//      display: none
//    &-cards
//      max-width: 100% !important
//      max-height: unset !important
//      &-wrap
//        max-width: 100%
//        overflow-y: auto


