@import '../../_Variables'


.aside
  margin-right: 30px
  &-wrap
    max-width: 213px
    input
      background-color: $item-color
      &:focus
        background-color: inherit


@media screen and (max-width: 1023px)

  .aside
    display: none
