.collapse
  margin-bottom: 16px
  &-header
    cursor: pointer
  &-header,
  &-button,
  &-card
    background-image: url("../../../../assets/img/Aside/square.svg"), url("../../../../assets/img/Aside/square.svg"),
    url("../../../../assets/img/Aside/square.svg"), url("../../../../assets/img/Aside/square.svg")
    background-position: top left, top right, bottom left, bottom right
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat
  &-header
    width: 212px
    height: 30px
    background-color: #232439
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 10px 0 10px
    &__title
      color: #C4C4C4
      font-size: 12px
      line-height: 48px

  &-cards
    margin: 15px 0

    &-row
      display: flex
      justify-content: space-between
      align-items: center
      margin-bottom: 12px
  &-buttons
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    cursor: unset
  &-button
    width: 98px
    height: 30px
    background-color: #232439
    color: #C4C4C4
    font-size: 10px
    line-height: 30px
    text-align: center
    display: inline
    justify-content: center
    align-items: center
    border: none
    margin-top: 15px
  &-card
    width: 60px
    height: 80px
    background-color: #232439
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: column
  //&-button,
  &-card
    &__img
      margin-top: 17px
      display: block
      width: 30px

    &__title
      line-height: 10px
      margin-bottom: 12px
      font-size: 10px
      color: #C4C4C4