@import '../../../_Variables'

.product
  &-card
    background-image: url("../../../assets/img/Aside/square.svg"), url("../../../assets/img/Aside/square.svg"),
    url("../../../assets/img/Aside/square.svg"), url("../../../assets/img/Aside/square.svg")
    background-position: $background-position
    background-repeat: $background-repeat
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: column
    width: 216px
    //height: 216px
    background-color: #232439
    //padding: 13px 15px
    margin-bottom: 25px
    position: relative
    &:last-child
      margin-bottom: 0
    &_active
      position: absolute
      top: 0
      bottom: 0
      right: 0
      left: 0
      transition: all 0.2s ease
      z-index: -5
      display: none
      background: rgba(#232439, 0.5)
      backdrop-filter: blur(8px)
    &-header
      display: flex
      justify-content: space-between
      &_active
        z-index: 5
        display: flex
        justify-content: space-between
      &__text
        font-size: 12px
        line-height: 15px
        max-width: 50%
        color: #C4C4C4
    &-footer
      width: 100%
      display: flex
      justify-content: space-between
      align-items: center
      &__buttons
        display: flex
        justify-content: space-between
      &__price
        font-family: opensans-b, sans-serif
        color: white
        font-size: 16px
      &__text
        color: #00A651
        font-size: 10px

.product-card:hover .product-card-footer,
.product-card:hover .product-card-header
  opacity: 0


.product-card:hover .product-card_active
  z-index: 5
  display: block


@media screen and (max-width: 1023px)

  .product
    display: none
    &-card
      width: 100%


