.header
  padding: 0 25px
  margin-top: 35px
  margin-bottom: 108px
  display: flex
  justify-content: space-between
  align-items: center
  position: relative
  &-menu
    display: block
    position: absolute
    left: 49.5%
    //transform: translate(-50%, 0)
    width: 23px
    height: 23px
    background-image: url("../../assets/img/Header/menu.svg")
    transition: all 1s ease
    &:hover
      -ms-transform: rotate(360deg)
      -webkit-transform: rotate(360deg)
      -o-transform: rotate(360deg)
      -moz-transform: rotate(360deg)
  &__logo
    display: block
    width: 75px
    &_main
      display: none
  &__btn
    display: none
    background-color: transparent
    border: none
    img
      width: 35px
  &-account
    &-cart
      position: relative
    &__btn
      position: relative
      display: flex
      align-items: center
      color: white
      margin-left: 20px
      &:first-child,
      &:nth-child(3),
      &:nth-child(2)
        margin-left: 30px
        &:before
          position: absolute
          content: url("../../assets/img/Header/shape.svg")
          background-position: center center
          right: -15px
      &:last-child
        margin-right: 10px
        margin-left: 20px
      button
        display: flex
        align-items: center
        background-color: transparent
        border: none
        color: white
        cursor: pointer
      img
        display: block
      p
        font-family: exo-m, sans-serif
        font-size: 14px
        margin-left: 10px
        margin-right: 10px

  &-block
    display: flex
    align-items: center
  &-lang
    display: flex
    align-items: center
    margin-left: 27px
    &__icon
      display: block
      &_small
        display: none
    &__btn
      margin-left: 15px
      text-transform: uppercase
      color: white
      font-size: 14px
      font-family: exo-m, sans-serif
      background-color: transparent
      border: none
      cursor: pointer
      &:focus
        outline: none

@media screen and (max-width: 1023px)

  .header
    margin-top: 28px
    margin-bottom: 145px
    padding: 0
    &-block
      display: none
    &__logo
      display: none
      &_main
        display: block
    &__btn
      display: block
    &-menu
      display: none

@media screen and (max-width: 767px)

  .header
    //&__logo
    //  &_main
    //    width: 15vw
    //    height: 3vh
    &-account
      &__icon
        width: 10vw
        height: 6vh