@import '../../../_Variables'

.main-link
  background-color: $link-color
  width: 85px
  height: 30px
  display: block
  font-family: opensans-l, sans-serif
  color: #FFFFFF
  font-size: 12px
  line-height: 30px
  text-align: center
  text-decoration: none
