@import "../../_Variables"

.footer
  padding: 0 25px
  margin-bottom: 20px
  display: flex
  justify-content: space-between
  align-items: center
  color: white
  &-rating
    font-size: 30px
    font-family: exo-m, sans-serif
    line-height: 46px
    margin-right: 15px
  &-info
    color: $grey
    &-name
      font-size: 10px
    &__text
      font-size: 12px
      padding-left: 5px
    div
      display: flex
      align-items: center
    &-name
      line-height: 20px
      height: 20px
      display: block
    &-rating
      background-image: url("../../assets/img/star.svg")
      display: block
      width: 78px
      height: 13px
      background-size: 15px

  &-block
    list-style: none
    &_first
      display: flex
      align-items: center
  &-social
    display: flex
    &__link
      background-color: $item-color
      width: 30px
      height: 30px
      margin-right: 15px
      background-image: url("../../assets/img/Aside/square.svg"), url("../../assets/img/Aside/square.svg"), url("../../assets/img/Aside/square.svg"), url("../../assets/img/Aside/square.svg")
      background-position: $background-position
      background-repeat: $background-repeat
      a
        display: block
        line-height: 30px
        text-align: center
  &-awards
    display: flex
    &__link
      margin-left: 15px

@media screen and (max-width: 1023px)

  .footer
    display: none

