@import '../../../Variables'

.custom-input
  width: 100%
  height: 30px
  background-color: $dark-bg
  color: #C4C4C4
  font-size: 12px
  margin-bottom: 15px
  border: 1px solid transparent
  line-height: 48px
  padding: 0 10px 0 10px
  &:focus
    outline: none
    border: 1px $border-dark solid
  &::placeholder
    color: #C4C4C4
  background-image: url("../../../assets/img/Aside/square.svg"), url("../../../assets/img/Aside/square.svg"),
  url("../../../assets/img/Aside/square.svg"), url("../../../assets/img/Aside/square.svg")
  background-position: $background-position
  background-repeat: $background-repeat