@import '../../_Variables'

.news
  margin-left: 25px
  width: 210px
  color: white
  &-item
    max-width: 210px
    height: 700px
    display: flex
    justify-content: center
    align-items: center
    img
      display: block
  &-slider
    position: relative
    background-color: $item-color
    background-image: url("../../assets/img/Aside/square.svg"), url("../../assets/img/Aside/square.svg"), url("../../assets/img/Aside/square.svg"), url("../../assets/img/Aside/square.svg")
    background-repeat: $background-repeat
    background-position: $background-position



.slider-dot
  border: 2px white solid
  width: 10px
  height: 10px
  position: relative
  &:before
    content: ''
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    display: block
    width: 2px
    height: 2px
    background-color: white
    opacity: 0
    transition: 0.2s


.slick-dots li.slick-active .slider-dot
  &:before
    opacity: 1

.slick-dots
  width: 50px
  display: flex
  justify-content: right
  flex-direction: column
  bottom: 6px
  right: -18px

.slick-dots li
  display: block
  right: 0

@media screen and (max-width: 1023px)

  .news
    display: none
