@import "Fonts"

*
  box-sizing: border-box
  padding: 0
  margin: 0
  font-family: opensans-l, sans-serif
  button
    cursor: pointer
    &:focus
      outline: none

body
  background-color: #0B0C23

.app
  display: flex
  //justify-content: space-between
  width: auto
  max-width: 88%
  margin: 0 auto
  margin-bottom: 100px

.container
  max-width: 1440px
  margin: 0 auto

@media (max-width: 1024px)

  .app
    max-width: 83%

@media screen and (max-width: 1023px)

  .app
    max-width: 100%

  .container
    padding: 0 30px

.no-image
  display: block
  width: 100%
  height: 100%

@media screen and (max-width: 767px)

  .container
    padding: 0 15px

