@font-face
  font-family: 'exo-m'
  src: url('./assets/fonts/Exo-Medium.ttf') format('truetype')
  font-style: normal
  font-weight: 500

@font-face
  font-family: 'opensans-b'
  src: url('./assets/fonts/OpenSans-Bold.ttf')  format('truetype')
  font-style: normal
  font-weight: 500

@font-face
  font-family: 'opensans-l'
  src: url('./assets/fonts/OpenSans-Light.ttf')  format('truetype')
  font-style: normal
  font-weight: 300

@font-face
  font-family: 'opensans-r'
  src: url('./assets/fonts/OpenSans-Regular.ttf')  format('truetype')
  font-style: normal
  font-weight: normal