@import "../../_Variables"

.new
  .section__title
    padding-left: 35px
  &-cards
    max-width: 215px
    max-height: 700px
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    transform: scaleX(-1)
    &-wrap
      overflow-y: scroll
      transform: scaleX(-1)
      width: 250px
      scrollbar-color: white $item-color
      scrollbar-width: 5px
      &::-webkit-scrollbar
        width: 5px
      &::-webkit-scrollbar-track
        background-color: $item-color
        width: 1px
      &::-webkit-scrollbar-thumb
        background-color: white
        width: 5px

@media screen and (max-width: 1439px)

  .new
    display: none